.inquiry-card {
  padding-bottom: 40px;
  &-header {
    @include text-style(12);
    margin-bottom: 8px;
    .detail,
    .misc {
      @include flexbox(start);

      dd,
      strong {
        &::after {
          margin: 0 4px;
          content: '|';
        }
      }

      dd:last-child::after {
        content: none;
      }
    }
    .detail {
      color: $primary;
      margin-bottom: 8px;
    }
    .misc {
      color: $tertiary;
      strong {
        font-weight: 400;
      }
    }
  }

  &-body {
    @include text-style(13);
    .question-content {
      margin-bottom: 12px;
    }
    .inquiry-content {
      padding-left: 20px;
      position: relative;
    }
    .seller {
      @include flexbox(start);
      margin-bottom: 4px;
      strong {
        margin-right: 4px;
      }
      time {
        @include text-style(12, $tertiary);
      }
    }
    span {
      position: absolute;
      top: 0;
      left: 0;
      color: $blue;
      font-weight: 700;
    }
    p {
      @include flexbox(start);
      color: $primary;

      i {
        margin-right: 8px;
        font-size: 16px;
        color: $tertiary;
      }
    }
  }

  @include responsive(T) {
    &-header {
      margin-bottom: 20px;
    }

    &-body {
      @include text-style(14, $primary);
      font-weight: 400;
      .question-content {
        margin-bottom: 16px;
      }
      .inquiry-cotent {
        padding-left: 24px;
      }
      .seller {
        margin-bottom: 8px;
        strong {
          @include text-style(16);
        }
      }
      span {
        font-size: 16px;
      }
    }
  }
}
